@using Buddy.Models.Models
@model Product

<div class="card border-primary justify-content-center mb-5 " style=" max-width: 50rem;">
    <div class="card-header text-center text-light bg-primary "><h2> Are you sure, You wanna delete?</h2> </div>
    <div class="card-body">

        <form method="post">

            <input asp-for="Id" hidden />

            <div class="col-sm-10">
                <label asp-for="Name" class="form-label mt-2">Name</label>
                <input asp-for="Name" class="form-control" disabled id="exampleInputName">

            </div>

            <div class="col-sm-10">
                <label asp-for="Description" class="form-label mt-4">Description</label>
                <input asp-for="Description" disabled class="form-control " id="exampleInputDispalyorder" placeholder="Enter Description" autocomplete="off">

            </div>

            <div class="col-sm-10">
                <label asp-for="ISBN" class="form-label mt-4">ISBN</label>
                <input asp-for="ISBN" disabled class="form-control " id="exampleInputDispalyorder" placeholder="Enter ISBN" autocomplete="off">

            </div>

            <div class="col-sm-10">
                <label asp-for="Author" class="form-label mt-4">Author Name</label>
                <input asp-for="Author" disabled class="form-control " id="exampleInputDispalyorder" placeholder="Enter Author Namw" autocomplete="off">

            </div>

            <div class="col-sm-10">
                <label asp-for="ListPrice" class="form-label mt-4">List Price</label>
                <input asp-for="ListPrice" disabled class="form-control " id="exampleInputDispalyorder" placeholder="Enter List Price" autocomplete="off">

            </div>

            <div class="col-sm-10">
                <label asp-for="Price" class="form-label mt-4">Price for 1-50</label>
                <input asp-for="Price" disabled class="form-control " id="exampleInputDispalyorder" placeholder="Enter Price for 1-50" autocomplete="off">

            </div>

            <div class="col-sm-10">
                <label asp-for="Price50" class="form-label mt-4">Price for 50</label>
                <input asp-for="Price50" disabled class="form-control " id="exampleInputDispalyorder" placeholder="Enter Price for 50" autocomplete="off">

            </div>

            <div class="col-sm-10">
                <label asp-for="price100" class="form-label mt-4">Price for 100</label>
                <input asp-for="price100" disabled class="form-control " id="exampleInputDispalyorder" placeholder="Price for 100" autocomplete="off">

            </div>

            <div> <br /> </div>
            <div class="row mt-3">
                <div class="col-6 col-md-4">
                    <button type="submit" class="btn text-light btn-danger btn-outline-primary w-100"> Yes,Delete</button>

                </div>
                <div class="col-6 col-md-4">
                    <a asp-controller="Product" asp-action="Index" class=" btn btn-outline-secondary w-100 "> Back </a>

                </div>
            </div>

        </form>



    </div>
</div>






